@font-face {
	font-family: "ComputerModern";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("cmunrm.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerModern";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("cmunbx.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerModern";
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("cmunti.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerModern";
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("cmunbi.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerTypewriter";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("cmuntt.woff2") format("woff2");
}

@font-face {
	font-family: "ComputerTypewriter";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("cmuntx.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerTypewriter";
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("cmunit.woff2") format("woff2");
}
@font-face {
	font-family: "ComputerTypewriter";
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("cmuntb.woff2") format("woff2");
}